# Terraform
.terraform/
*.tfvars
terraform.tfstate
terraform.tfstate.*
.terraform.lock.hcl

# System files
.DS_Store

# SSH keys
*.pem
*.key

# Local bootstrap script for Clixx
CLIXX/clixx_bootstrap.sh
